* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: 242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

p {
  font-size: 18px;
}

button {
  border: 1px solid white;
  background-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.info, .search, .adding {
  background-color: #b3d6ff;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  border-radius: 8px;
}

.buttons button:first-child {
  color: black;
  border-radius: 6px 0 0 6px;
}

.buttons button:last-child {
  border-radius: 0 6px 6px 0;
}

.active-filter {
  background-color: aliceblue;
}

input {
  padding: 0 8px;
  border-radius: 6px;
  min-width: 260px;
  height: 42px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

ul {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
}

.employee {
  background-color: rgb(250 250 250);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(23, 23, 23, 0.107);
}

.salary {
  min-width: 200px;
  text-align: center;
}

.name {
  min-width: 300px;
}

.employees-button {
  display: flex;
  gap: 14px;
}

.employees-button button {
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 6px 6px;
  width: 40px;
  height: 40px;
}

.images {
  width: 16px;
  height: 16px;
}
